.title{
    margin: 25px
}

form{
    display: flex;
    flex-direction: column;
    margin: 25px;
}

.button-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 14px;
    margin-left: 25px;
    width: 200px;
    
}